<link rel="import" href="../polymer/polymer.html">

<!--
`dropdown-style`
styles for used for a tip of the dropdown
-->

<dom-module id="dropdown-tip-style">
  <template>
    <style>
      .dropdown:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-width: var(--dropdown-tip-size, 0);
        border-style: solid;
        border-color: transparent transparent transparent transparent;
        left: auto;
        top: auto;
        bottom: auto;
        right: auto;
      }

      :host([dynamic-align]) .dropdown:after,
      :host([no-tip]) .dropdown:after {
        display: none !important;
      }

      :host([vertical-align]) .dropdown:after,
      :host([vertical-align="auto"]) .dropdown:after,
      :host([vertical-align="top"]) .dropdown:after,
      :host([horizontal-align]) .dropdown:after,
      :host([horizontal-align="auto"]) .dropdown:after,
      :host([horizontal-align="left"]) .dropdown:after {
        top: calc(-2 * var(--dropdown-tip-size, 0));
        left: calc(2 * var(--dropdown-tip-size, 0));
        border-bottom-color: var(--input-picker-background, var(--input-background));
      }

      :host([horizontal-align="right"][vertical-align]) .dropdown:after {
        left: auto;
        right: calc(2 * var(--dropdown-tip-size, 0));
      }

      :host([horizontal-align="center"][vertical-align]) .dropdown:after {
        left: 50%; right: auto;
        transform: translate(-50%, 0%);
      }

      :host([horizontal-align][vertical-align="bottom"]) .dropdown:after {
        top: auto;
        bottom: calc(-2 * var(--dropdown-tip-size, 0));
        border-bottom-color: transparent;
        border-top-color: var(--input-picker-background, var(--input-background));
      }

      :host([horizontal-align][vertical-align="middle"]) .dropdown:after {
        top: auto; right: auto;
        bottom: 50%;
        left: calc(-2 * var(--dropdown-tip-size, 0));
        border-top-color: transparent;
        border-bottom-color: transparent;
        border-right-color: var(--input-picker-background, var(--input-background));
        transform: translate(0%, 50%);
      }

      :host([horizontal-align="left"][vertical-align="middle"]) .dropdown:after {
        left: auto;
        right: calc(-2 * var(--dropdown-tip-size, 0));
        border-right-color: transparent;
        border-left-color: var(--input-picker-background, var(--input-background));
      }

      :host([horizontal-align="center"][vertical-align="middle"]) .dropdown:after {
        border: none;
      }

    </style>
  </template>

</dom-module>
