<script>
  /**
   * mixin to extend an element, to be compatible with iron-form
   *
   * @mixinFunction
   * @polymer
   */
  const FormElementMixin = (superClass) => { // eslint-disable-line no-unused-vars

    return class extends superClass {

      static get properties() {
        return {
          /**
           * required attribute
           */
          required: {
            type: Boolean,
            reflectToAttribute: true
          },

          /**
           * required attribute
           */
          invalid: {
            type: Boolean,
            reflectToAttribute: true
          },

          /**
           * disables the input
           */
          disabled: {
            type: Boolean,
            reflectToAttribute: true
          },

          /**
           * name of the input
           */
          name: {
            type: String
          },

          /**
           * value of the input
           */
          value: {
            type: String
          },

          /**
           * is true when the value is not undefined
           */
          _valueIsSet: {
            type: Boolean,
            value: false
          }
        }
      }

      static get observers() {
        return [
          '_computeInvalid(required, value)',
          '_computeValueIsSet(value)'
        ]
      }

      connectedCallback() {
        super.connectedCallback();
        this._ensureAttribute('tabindex', 0);
      }

      _computeInvalid(required, value) {
        this.invalid = Boolean(required && !value);
      }

      _computeValueIsSet(value) {
        this._valueIsSet = value !== undefined;
      }

      /**
       * validates the input for iron-form
       */
      validate() {
        return !this.invalid;
      }
    }
  }
</script>
