<script>
  /**
   * mixin to extend an element, to be compatible with iron-form
   *
   * @mixinFunction
   * @polymer
   */
  const FormElementMixin = (superClass) => { // eslint-disable-line no-unused-vars

    return class extends superClass {

      static get properties() {
        return {
          /**
           * required attribute
           */
          required: {
            type: Boolean,
            reflectToAttribute: true
          },

          /**
           * required attribute
           */
          invalid: {
            type: Boolean,
            reflectToAttribute: true
          },

          /**
           * disables the input
           */
          disabled: {
            type: Boolean,
            reflectToAttribute: true
          },

          /**
           * name of the input
           */
          name: {
            type: String
          },

          /**
           * value of the input
           */
          value: {
            type: String
          }
        }
      }

      static get observers() {
        return [
          '_computeInvalid(required, value)'
        ]
      }

      _computeInvalid(required, value) {
        this.invalid = Boolean(this.required && !this.value);
      }

      /**
       * validates the input for iron-form
       */
      validate() {
        return !this.invalid;
      }
    }
  }
</script>
